{% extends "base.html" %}
{% load thumbnail %}
{% block container %}

  <div class="row row-cards">
    THis is homepage
    {% comment %} {% for ad in ads %}
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div>
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="avatar" style="background-image: url({% thumbnail ad.logo 40x40 crop quality=92 %})"></span>
                </div>
                <div class="col">
                  <div class="card-title"><a href="{% url 'classified_ad_detail' ad.pk %}">{{ ad.title }}</a></div>
                  <div class="card-subtitle">{{ ad.company_name }}</div>
                </div>
              </div>
            </div>
       
          </div>
          <div class="card-body p-0">
            {% if ad.images %}
              <img src="{% thumbnail ad.images 400x200 crop quality=92 %}" alt="{{ ad.title }}" class="w-100" />              
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" class="w-100" preserveAspectRatio="none" width="400" height="200" viewBox="0 0 400 200" fill="transparent" stroke="var(--tblr-border-color, #b8cef1)">
                <line x1="0" y1="0" x2="400" y2="200"></line>
                <line x1="0" y1="200" x2="400" y2="0"></line>
              </svg>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %} {% endcomment %}
  </div>



{% endblock %}