{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
{{ ad.title }}
{% endblock title %}
{% block container %}
  <div class="row row-cards">
    <div class="col-lg-8">
      <div class="card card-lg">
        <div class="card-header">
          <div>
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="avatar" style="background-image: url({% thumbnail request.user.company.logo 40x40 crop quality=92 %})"></span>
              </div>
              <div class="col">
                <div class="card-title">
                  <a href="{% url 'classified_ad_detail' ad.pk %}">{{ ad.title }}</a>
                </div>
                <div class="card-subtitle">{{ request.user.company.company_name }}</div>
              </div>
            </div>
          </div>
          <div class="card-actions">
            <div class="dropdown">
              <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                  
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-end" style="">
                <a class="dropdown-item" href="{% url 'update_listing' ad.pk %}">Edit Ad</a>                  
                <a class="dropdown-item text-danger" href="{% url 'delete_listing' ad.pk %}">Delete Ad</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="markdown mb-3">{{ ad.description }}</div>
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Price</div>
              <div class="datagrid-content">{{ ad.price }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Status</div>
              <div class="datagrid-content">
                {% if ad.status == 'Active' %}
                  <span class="status status-green">Active</span>
                {% elif ad.status == 'Inactive' %}
                  <span class="status status-red">Inactive</span>
                {% elif ad.status == 'Sold' %}
                  <span class="status status-orange">Sold</span>
                {% endif %}
              </div>
            </div>       
            <div class="datagrid-item">
              <div class="datagrid-title">Posted on</div>
              <div class="datagrid-content">{{ ad.date_posted }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Location</div>
              <div class="datagrid-content">{{ ad.location.name }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Category</div>
              <div class="datagrid-content">{{ ad.subcategory.category.name }}</div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Sub-Category</div>
              <div class="datagrid-content">{{ ad.subcategory.name }}</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">Creator</div>
                <div class="datagrid-content">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-xs me-2 rounded" style="background-image: url({% thumbnail request.user.company.logo 40x40 crop quality=92 %})"></span>
                    {{ request.user.company.company_name }}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          {% if ad.images %}
            <img src="{% thumbnail ad.images 400x250 crop quality=92 %}" alt="{{ ad.title }}" class="w-100 mb-3" />
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-100 mb-3" preserveAspectRatio="none" width="400" height="200" viewBox="0 0 400 200" fill="transparent" stroke="var(--tblr-border-color, #b8cef1)">
              <line x1="0" y1="0" x2="400" y2="200"></line>
              <line x1="0" y1="200" x2="400" y2="0"></line>
            </svg>
          {% endif %}
          <h4>Contact Email</h4>
          <ul class="list-unstyled space-y-1">
            <li>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mailbox"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 21v-6.5a3.5 3.5 0 0 0 -7 0v6.5h18v-6a4 4 0 0 0 -4 -4h-10.5" /><path d="M12 11v-8h4l2 2l-2 2h-4" /><path d="M6 15h1" /></svg>
              {{ ad.contact_email }}</li>           
          </ul>
          <h4>Contact Phone</h4>
          <ul class="list-unstyled space-y-1">
            <li>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-landline-phone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 3h-2a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-14a2 2 0 0 0 -2 -2z" /><path d="M16 4h-11a3 3 0 0 0 -3 3v10a3 3 0 0 0 3 3h11" /><path d="M12 8h-6v3h6z" /><path d="M12 14v.01" /><path d="M9 14v.01" /><path d="M6 14v.01" /><path d="M12 17v.01" /><path d="M9 17v.01" /><path d="M6 17v.01" /></svg>
              {{ ad.contact_phone }}</li>           
          </ul>
          <h4>Website</h4>
          <ul class="list-unstyled space-y-1">
            <li><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
              <a href="{{ ad.website }}" target="_blank">{{ ad.website }}</a></li>           
          </ul>
      </div>
    </div>
  </div>
{% endblock %}
