{% extends 'base.html' %}

{% block title %}
  Create Classified Ad
{% endblock %}

{% block container %}
  <div class="container">
    <div class="col-12">
      <form method="post" enctype="multipart/form-data" class="card">
        {% csrf_token %}
        <div class="card-body">
          <h3 class="card-title">Create Classified Ad</h3>
          {% if form.errors %}
            <div class="alert alert-danger my-3">
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="row row-cards">
            <div class="col-sm-12 col-md-6">
              <div class="mb-3">
                <label class="form-label" for="id_title">Title</label>
                {{ form.title }}
              </div>
            </div>
            <div class="col-sm-5 col-md-3">
              <div class="mb-3">
                <label class="form-label" for="id_subcategory">Category</label>
                {{ form.subcategory }}
              </div>
            </div>
            <div class="col-sm-5 col-md-2">
              <div class="mb-3">
                <label class="form-label" for="id_price">Price</label>
                {{ form.price }}
              </div>
            </div>
            <div class="col-sm-2 col-md-1">
              <div class="mb-3">
                <label class="form-label" for="id_status">Status</label>
                {{ form.status }}
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="id_description">Description</label>
                {{ form.description }}
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="mb-3">
                <label class="form-label" for="id_location">Location</label>
                {{ form.location }}
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="mb-3">
                <label class="form-label" for="id_contact_email">Email</label>
                {{ form.contact_email }}
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="mb-3">
                <label class="form-label" for="id_contact_phone">Phone</label>
                {{ form.contact_phone }}
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="mb-3">
                <label class="form-label" for="id_website">Website</label>
                {{ form.website }}
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label" for="id_images">Images</label>
                {{ form.images }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">Create Ad</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
